<!DOCTYPE html>
<html>
  <head>
    <title>wire hobo</title>
<style>
/*
   color palette, light to dark
   .color-1: #C2D1E2;
   .color-2: #8EA7C3;
   .color-3: #607FA2;
   .color-4: #3E6188;
   .color-5: #254970;
*/
div#nav {
  float: right;
  font-family: monospace;
}
div#nav a {
  font-weight: bold;
  color: #254970;
}
div#nav a:hover {
  background: #C2D1E2;
}
div#nav a.disabled {
  pointer-events: none;
  color: #dddddd;
}

#camps {
  font-family: monospace;
}

.camp {
  margin-bottom: .5em;
}

a {
  text-decoration: none;
}

span.sign {
  padding-left: .25em;
  font-weight: bold;
  color: #607FA2;
}

.sign:hover {
  background: #C2D1E2;
  color: #254970;
}

.first-line a {
  font-weight: bold;
  color: #254970;
}
.first-line a:hover {
  background: #C2D1E2;
}

.second-line {
  font-size: 75%;
  padding-left: 1em;
  color: #8EA7C3;
}
</style>
  </head>
  <body>
    <div id="nav">
      {% if idxprev is not None %}
      <a href="/?start={{ idxprev }}&count={{ count }}">prev</a>
      {% else %}
      <a href="#" class="disabled">prev</a>
      {% endif %}
      {% if idxnext is not None %}
      <a href="/?start={{ idxnext }}&count={{ count }}">next</a>
      {% else %}
      <a href="#" class="disabled">next</a>
      {% endif %}
    </div>
    <div id="camps">
      {% for camp in camps %}
      <div class="camp">
        <div class="first-line">
          <a href="{{ camp.url }}" target="_blank";>{{ camp.title }}</a>
        </div>
        <div class="second-line">
          {{ camp.created }}
          {% for sign in camp.signs %}
          {% if sign %}
          <a href="/?sign={{ sign }}"><span class="sign">{{ sign }}</span></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
